*.log*
*.pid
*.seed
.DS_Store
.DS_Store*.iml
.DS_Store.idea
.classpath
.lock-wscript
.module-cache
.project
.settings
.svn/
.vscode
build/Release
coverage
dist
lib-cov
logs
node/
node_modules/
out
pids
target/
